.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

body {
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png'), linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  background-size: cover;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 24px;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  margin: 30px 0;
  border-radius: 8px;
  border: 1px solid #444;
}

h2 {
  color: #ffdd57;
  text-shadow: 1px 1px 3px #000;
  font-size: 30px;
}

input, select, textarea {
  background-color: #222;
  color: #eee;
  border: 1px solid #666;
  padding: 6px;
  font-size: 24px;
}


hr {
  border-color: #444;
}

.results {
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  max-width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  color: #fff;
  font-size: 30px;
}

.results table {
  margin: 0 auto;
  border-collapse: collapse;
  color: #fff;
  font-size: 20px
}

.results th, .results td {
  border: 1px solid #ffffff;
  padding: 8px 12px;
  text-align: center;
}

input[type="submit"], button {
    padding: 12px 24px;
    font-size: 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
    transform: scale(1.03);
}

input[type="submit"]:active, button:active {
    transform: scale(0.97);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

select[name="tableNameForDisplay"] {
  padding: 10px 16px;
  font-size: 24px;
  border-radius: 6px;
  margin-top: 24px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

select[name="tableNameForDisplay"]:hover {
  border-color: #007BFF;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

select[name="tableNameForDisplay"]:active {
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

select[name="projectionTableName"] {
  padding: 10px 16px;
  font-size: 24px;
  border-radius: 6px;
  margin-top: 24px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

select[name="projectionTableName"]:hover {
  border-color: #007BFF;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

select[name="projectionTableName"]:active {
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

select[name="attribute1"],
select[name="attribute2"] {
  padding: 10px 16px;
  font-size: 24px;
  border-radius: 6px;
  margin-top: 8px;
  width: 300px;
}